---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js" defer></script>
    <style>
      .xxxx {
        border: 10px solid green;
      }
    </style>
  </head>
  <body>
    <div class="xxxx">
      <canvas class="zdog-canvas" width="200" height="200"></canvas>
      <canvas class="zdog-canvas" width="100" height="100"></canvas>
    </div>
  </body>
</html>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    // Made with Zdog

    // create illo
    const illo = new Zdog.Illustration({
      // set canvas with selector
      element: ".zdog-canvas",
      zoom: 4,
      // enable rotating scene with dragging
      dragRotate: true,
    });

    // circle
    new Zdog.Ellipse({
      addTo: illo,
      diameter: 20,
      translate: {z: 10},
      stroke: 5,
      color: "#636",
    });

    // square
    new Zdog.Rect({
      addTo: illo,
      width: 20,
      height: 20,
      translate: {z: -10},
      stroke: 3,
      color: "#E62",
      fill: true,
    });

    function animate() {
      illo.updateRenderGraph();
      requestAnimationFrame(animate);
    }

    animate();
  });
</script>
